.mainContainer{
  background-color: white;
  text-align: center;
}
.mainTitle {
  margin: 1.5em 0 0 0;
  font-size: 4em;
  color: #F56335;
}
.mainText {
  margin: 30px 0 0 0;
  font-size: 2em;
  text-align: center;
  width:80%;
  margin-left:10%;
}
.subText{
  margin: 30px 0 0 0;
  font-size: 1.5em;
}
.search{
  font-size:1.5em;
  margin: 30px 0 0 0;
  margin-left:30%;
  width:40%;
}
a {
  text-decoration: none;
}
