.topbar {
  position: fixed;
  z-index: 10;
  top: 50px;
  left: 0;
  background: #f97d0b;
  /*#e96f48*/
  width: 100%;
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  color: #fff;

  a {
    /*text-transform: uppercase;*/
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    line-height: 40px;
    h1 { font-size: 28px; }
  }

  section {
    position: absolute;
    top: 0px;
    left: 85px;
    width: 80vw;
    height: 80px;
    display: flex;
  }
}

  form {
    margin: 10px auto;
    position: relative;
    height: 20px;

    input {
      height: 100%;
      font-size: .8em;
    }

  .searchboxInput {
      width: 90%;
      height: 80%;
      position: absolute;
      top: 3px;
      left: 0;
    }
    input[type=submit] {
      width: 20%;
      position: absolute;
      right: 0;
      top: 3px;
      border: 1px solid #ddd;
      background: #FFF;
    }
  }

.searchbox {
  width: 30%;
  padding: 0 10px 0 0;
}

.checkboxdiv {
  order:2;
  width:80%;
  height:100%;
  padding: 0 0 0 50px;
}

.checkbox {
  height: 11px;
  margin: 10px 0 0 20px;
  word-spacing: 3px;
  line-height: 1.5;

  label {
    font-size: 1.2vw;
    margin:10px;
  }
}
