.topbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #F56335;
  /*#e96f48*/
  width: 100%;
  padding: 0 25px;
  height: 80px;
  line-height: 80px;
  color: #fff;

  a {
    /*text-transform: uppercase;*/
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    line-height: 40px;
    h1 { font-size: 28px; }
  }

  section {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 80vw;
    height: 80px;
    display: flex;
  }
}

  form {
    margin: 20px auto;
    position: relative;
    height: 30px;

    input {
      height: 100%;
      font-size: .8em;
    }

    input[type=text] {
      width: 75%;
      height: 80%;
      position: absolute;
      top: 3px;
      left: 0;
    }
    input[type=submit] {
      width: 20%;
      position: absolute;
      right: 0;
      top: 3px;
      border: 1px solid #ddd;
      background: #FFF;
    }
  }

.searchbox {
  width: 50%;
  padding: 0 10px 0 0;
}

.checkboxdiv {
  order:1;
  flex:1;
  width:50%;
  height:100%;
}

.checkbox {
  font-size: 10px;
  height: 11px;
  margin: 0 0 0 30px;

  label {
    padding:3px;
  }
}
